<!DOCTYPE html>
<html class="h-100" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./index.css">
  <title>To Do List</title>
</head>

<body class="h-100">
  <header>
    <h1 class="heading">To Do List</h1>
  </header>

  <div class="container-fluid d-flex flex-column w-100 justify-content-center">

    <div class="badge-wrapper flex-row">
      <h1><span class="badge date"><%= day %></span></h1>
    </div>

    <div class="flex-row d-flex w-100 justify-content-center">
      <div class="d-flex btn-group">
        <button type="button" class="list-btn btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="list-menu dropdown-menu dropright">
          <%listInfo.forEach(info => {%>
          <%if(info.id === Number(id)) var active = 'active'%>
          <button type="button" id="list-<%= info.id %>" class="list btn dropdown-item dropdown-toggle <%=active%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= info.name %></button>
          <%});%>
          <div class="options-menu dropdown-menu">
            <a class="dropdown-option option-go dropdown-item" href="#">Go to</a>
            <a class="dropdown-option option-rename dropdown-item" href="#">Rename</a>
            <a class="dropdown-option option-delete dropdown-item" href="#">Delete</a>
          </div>
          <div class="dropdown-divider"></div>
          <a id="new-list" class="nav-link" href="#">New List</a>
        </div>
      </div>
      <form class="d-flex flex-row w-100">
        <input type="text" id="new-item-text" class="input-group-text w-100" name="new-item-text" placeholder="Jack and Jill fetch a pail of water." value="">
        <button type="submit" id="add-item-btn" class="btn btn-success w-25">Add Item</button>
      </form>
    </div>

    <div class="flex-column">
      <div class="d-flex flex-row justify-content-center" role="group" aria-label="Large button group">
        <button type="button" id="btn-l" class="w-100 btn-filter btn btn-outline-dark btn-active" value="l">All</button>
        <button type="button" id="btn-m" class=" w-100 btn-filter btn btn-outline-dark" value="m">Pending</button>
        <button type="button" id="btn-r" class=" w-100 btn-filter btn btn-outline-dark" value="r">Done</button>
      </div>

      <div class="d-flex flex-column list-group">
        <p id="no-item-msg">Nothing to show.</p>
        <%var node = list%>
        <% while(node){ %>
        <!-- -->
        <button type="button" class="list-item list-group-item list-group-item-action <%= node.item.color %>">
          <%= node.item.text %>
        </button>
        <%node = node.next;}%>
      </div>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="./index.js" charset="utf-8"></script>
</body>

</html>
